@import url('https://fonts.cdnfonts.com/css/cascadia-mono');

:root {
  --background-color: 11, 11, 11;
  --body-background-color: 67, 71, 67;
  --status-bar-color: 17, 19, 11;
  --text-color: 224, 224, 224;
  --title-bar-color: 128, 168, 240;
}

.box {
  display: grid;
  height: 260px;
  place-content: center;
  place-items: center;
}

body,
html,
main {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(var(--body-background-color));
  color: rgb(var(--text-color));
  font-family: 'Cascadia Mono', monospace;
}

main {
  display: grid;
  justify-items: center;
}

ul {
  align-content: baseline;
  border: 1px inset hsl(210deg, 50%, 35%);
  border-radius: 8px;
  display: grid;
  font-size: smaller;
  height: 180px;
  list-style-type: none;
  margin: 0;
  overflow-y: scroll;
  padding: 4px 8px;
}

ul::-webkit-scrollbar {
  display: none;
}

ul>li {
  justify-self: center;
}
